<br>
<div class="col-xs-9">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="basic-layout-colored-form-control">User Profile</h4>
        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
            <li><a data-action="close"><i class="icon-cross2"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="card-body collapse in">
        <div class="card-block">
          <div class="card-text">
          </div> 
          <%= form_with(model: cliente, local: true) do |form| %>
              <% if cliente.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(cliente.errors.count, "error") %> Prohibido este cliente ya esta guardado:</h2>

                  <ul>
                    <% cliente.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
          <div class="form-body">
              <h4 class="form-section"><i class="icon-eye6"></i> Datos Cliente</h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="userinput1">Nombre</label>
                    <%= form.text_field :nombre , class: 'form-control border-primary' , required:"true", placeholder:"Nombre"%>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="userinput2">Apellido Paterno</label>
                    <%= form.text_field :apellido_paterno , class: 'form-control border-primary' , required:"true", placeholder:"Apellido Paterno"%>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="userinput3">Apellido Materno</label>
                    <%= form.text_field :apellido_materno , class: 'form-control border-primary' , required:"true", placeholder:"Apellido Materno"%>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="userinput4">Rut</label>
                    <%= form.text_field :rut , name:'rut', id:'rut' , class: 'form-control border-primary' , required:"true", placeholder:"Rut" ,maxlength:'12'%>
                  </div>
                </div>
              </div>

              

            </div>

            <div class="form-actions right">
              <%= link_to 'Volver', clientes_path, class:'btn btn-warning' %>
              <%= form.submit  class:'btn btn-primary'%>
            </div>                  
              

             

              <div class="actions">
                
                

              </div>
              <% end %>
        </div>
      </div>
    </div>
</div>
<script>
  document.getElementById('rut').addEventListener('input', function(evt) {
  let value = this.value.replace(/\./g, '').replace('-', '');
  
  if (value.match(/^(\d{2})(\d{3}){2}(\w{1})$/)) {
    value = value.replace(/^(\d{2})(\d{3})(\d{3})(\w{1})$/, '$1.$2.$3-$4');
  }
  else if (value.match(/^(\d)(\d{3}){2}(\w{0,1})$/)) {
    value = value.replace(/^(\d)(\d{3})(\d{3})(\w{0,1})$/, '$1.$2.$3-$4');
  }
  else if (value.match(/^(\d)(\d{3})(\d{0,2})$/)) {
    value = value.replace(/^(\d)(\d{3})(\d{0,2})$/, '$1.$2.$3');
  }
  else if (value.match(/^(\d)(\d{0,2})$/)) {
    value = value.replace(/^(\d)(\d{0,2})$/, '$1.$2');
  }
  this.value = value;
});
</script>