<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</head>
<body>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
    
        <ul class="nav nav-pills nav-stacked" style="border-right:2px solid black">
          <li><a href="/../../welcome/index"><i class="fas fa-dashboard"></i> Inicio</a></li>
            <li><a href="/../../clientes"><i class="fa fa-child" aria-hidden="true"></i> Administrar Clientes</a></li>
            <li><a href="/../../profesionales"><i class="fa fa-male" aria-hidden="true"></i> Administrar Profesionales</a></li>
            <li><a href="/../../actividades"><i class="fa fa-file-text-o" aria-hidden="true"></i> Administrar Actividades</a></li>
            <li><a href="#"><i class="fa fa-file" aria-hidden="true"></i> Contratos</a></li>
            <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Generar Informes</a></li>
            <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Generar Reporte</a></li>
    
        </ul>
    </div><!-- /span-3 -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                      <p id="notice"><%= notice %></p>
                      <h1>Clientes</h1>
                      <div class="table-responsive">
                      <table id="table_id" class="display">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Apellido paterno</th>
                            <th>Apellido materno</th>
                            <th>Rut</th>
                            <th ></th>
                            <th ></th>
                            <th ></th>
                          </tr>
                        </thead>
    
                        <tbody>
                          <% @clientes.each do |cliente| %>
                            <tr>
                              <td><%= cliente.nombre %></td>
                              <td><%= cliente.apellido_paterno %></td>
                              <td><%= cliente.apellido_materno %></td>
                              <td><%= cliente.rut %></td>
                              <td><%= link_to 'Mostrar', cliente,class:'btn btn-primary' %></td>
                              <td><%= link_to 'Editar', edit_cliente_path(cliente),class:'btn btn-primary' %></td>
                              <td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: 'Estas Seguro?' }, class:'btn btn-danger' %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                      <br>
                      <%= link_to 'Agregar un cliente nuevo', new_cliente_path, class:'btn btn-primary' %>
                </div>
              </div>  
            </div>
          </div>
        </div>
    </div>
    <script>
        $(document).ready( function () {
        $('#table_id').DataTable();
        } );
    </script>
    </body>
</html>

