<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                  <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                  	<p id="notice"><%= notice %></p>
                    <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido Paterno</th>
                        <th scope="col">Apellido Materno</th>
                        <th scope="col">Rut</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><%= @cliente.nombre %></th>
                        <td><%= @cliente.apellido_paterno %></td>
                        <td><%= @cliente.apellido_materno %></td>
                        <td><%= @cliente.rut %></td>
                      </tr>
                      
                    </tbody>
                  </table>
                    <%= link_to 'Editar', edit_cliente_path(@cliente), class:'btn btn-primary' %> 
                    <%= link_to 'Volver', clientes_path, class:'btn btn-primary' %> 
					        </div>  
                </div>
            </div>
        </div>
    </div>
</div>
