<div class="col-xs-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Profesionales</h4>
            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li>
                    </li>
                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-body collapse in">
          <br>            
            <div class="card-block card-dashboard">
                <div class="table-responsive">
                      <table id="datos" class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>Rut</th>
                            <th>Nombre </th>
                            <th>Segundo nombre</th>
                            <th >Apellido paterno</th>
                            <th >Apellido materno</th>
                            <th >Profesion</th>
                          </tr>
                        </thead>
                        <tbody >
                            <tr>
                              <td><%= @profesionale.rut %></td>
                              <td><%= @profesionale.nombre %></td>
                              <td><%= @profesionale.segundo_nombre %></td>
                              <td><%= @profesionale.apellido_paterno %></td>
                              <td><%= @profesionale.apellido_materno %></td>
                              <td><%= @profesionale.profesion %></td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                    <br>
                    <br>
                    <%= link_to 'Editar', edit_profesionale_path(@profesionale), class:'btn btn-primary' %> 
                    <%= link_to 'Volver', profesionales_path, class:'btn btn-warning' %>
                  </div>
                </div>
              </div>
            </div>
            

                    

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  

  