
<!DOCTYPE html>
<html>
  <head>
    <title>CheckYourList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/32c374efc4.js" crossorigin="anonymous"></script>
    <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/32c374efc4.js" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>

  <body id="boxi">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #09BEEA;">
      <a class="navbar-brand" href="#">CYL</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <p class="navbar-text pull-right" >
        <% if user_signed_in? %>
          <div class="dropdown pull-right">
          <strong>Bienvenido <%= current_user.email%>  </strong>
              <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              CheckYourList
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a><%= link_to "Editar Perfil", edit_user_registration_path, :class => 'navbar-link'%></a></li>
                <li><a><%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'%></a></li>
              </ul>
            </div>
        <% else %>
              <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link' %> 
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link',class:'btn btn-outline-dark active  btn-xs'  %>
        <% end %> 
        </p>
      </div>
    </nav>
    <div class="container-fluid">
      <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
    </div>
    <%= yield %>
  </body>
</html>
